@import url('http://fonts.googleapis.com/css?family=Roboto');
@charset "UTF-8";

body {
  background: radial-gradient(circle,black,darkgrey);
  font-family: roboto;
  
}
.radial-gradient{
  
 background: radial-gradient (circle ,red,black,blue,white)


  }

  

.radial-gradient{
    width:200px;
    height:100px;
}
>>>>>>> origin/master
input[type=radio] {
  position: absolute;
  visibility: visible;
  display: none;
}

label {
  color: white;
  display:  inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 30px;
}

input[type=radio]:checked + label{
  color:cornflowerblue;
  background: none;
}

label + input[type=radio] + label {
  border-left:  medium ;
  

  }
.radio-group {
  border: solid ;
  display: inline;
  margin: 20px;
  border-radius: 10px;
  overflow: visible;
}

