@import url('https://fonts.googleapis.com/css?family=Roboto');
@charset "UTF-8";

body {
  background: radial-gradient(circle,black,grey);
  font-family: roboto;
  
}


input[type=radio] {
  position: absolute;
  visibility: visible;
  display: none;
}

label {
  color: white;
  display:  inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 30px;
}

input[type=radio]:checked + label{
  color:cornflowerblue;
  background: none;
}

label + input[type=radio] + label {
  border-left:  medium ;
  

  }
.radio-group {
  border: solid ;
  display: inline;
  margin: 20px;
  border-radius: 10px;
  overflow: visible;
}

